{% extends 'navbar.html' %}
{% load static %}
{% block content %}

          <title>c o n t a c t | z a h r a</title>

            <div class="container mt-5 ml-1">
                <h1 id= "judulbayangan"; >
                        contact
                    </h1>
                <h1 id= "judul";>
                    contact
                </h1>
            </div>
        
            <div class="container ">
              <div class="row  ml-5">
                <div class="col socialmedia">
                  <a href="https://www.linkedin.com/in/azzahraabraara/"><i class="fa fa-linkedin fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                  <br>
                  <a href="https://open.spotify.com/user/zahraabr?si=B1YdNcu7Ss-nQrdBEEPmTw"><i class="fa fa-spotify fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                  <br>
                  <a href="https://www.instagram.com/zahrabrr"><i class="fa fa-instagram fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                  <br>
                  <a href="https://www.twitter.com/zahraabr"><i class="fa fa-twitter fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
              </div>
                <div class="col-sm-4 text-center">
                  <img src = "{% static 'phone.png' %}" style="width:100px">
                  <br><br><br>
                  <img src = "{% static 'mail.png' %}" style="width:100px">
                </div>
                <div class="col-sm-1 text-center">
                  <div id= "square">
                  </div>
                </div>
                <div class="col-sm-5 contact">
                  <p>0812 1965 0683
                    <br><br><br>
                    zahraabraara@gmail.com
                  </p>
                </div>
              </div>
            </div>

            <div class="container">
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        {% endblock %}