{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style3.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage:story3' %}#welcome"><img src="{% static 'zahra logo.png' %}" style="max-width: 60px;"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link js-scroll-trigger navbarfont" href="{% url 'homepage:story3' %}#welcome">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbarfont" href="#about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ABOUT
                        </a>
                        <div class="dropdown-menu navbarfont" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item navbarfont" href="{% url 'homepage:story3' %}#aboutsaya">GET TO KNOW ME</a>
                            <a class="dropdown-item navbarfont" href="{% url 'homepage:story3' %}#skill">SKILL</a>
                            <a class="dropdown-item navbarfont" href="{% url 'homepage:story3' %}#education">EDUCATION</a>
                            <a class="dropdown-item navbarfont" href="{% url 'homepage:story3' %}#experience">EXPERIENCE</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger navbarfont" href= "{% url 'homepage:portfolio' %}">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger navbarfont" href="{% url 'homepage:contact' %}">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% block content %}

{% endblock %}
{% include 'footer.html' %}

</body>
</html>
