{% extends 'navbar.html' %}
{% load static %}
{% block content %}

        <title>z a h r a</title>

        <div class="container mt-5 ml-1">
            <h1 id="judulbayangan">welcome</h1>
            <h1 id="welcome">welcome</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col socialmedia">
                    <a href="https://www.linkedin.com/in/azzahraabraara/"><i class="fa fa-linkedin fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                    <br>
                    <a href="https://open.spotify.com/user/zahraabr?si=B1YdNcu7Ss-nQrdBEEPmTw"><i class="fa fa-spotify fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                    <br>
                    <a href="https://www.instagram.com/zahrabrr"><i class="fa fa-instagram fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                    <br>
                    <a href="https://www.twitter.com/zahraabr"><i class="fa fa-twitter fa-rotate-270" style="font-size:28px;color:#576566;max-width: 28px; margin: 10px 10px;"></i></a>
                </div>
                <div class="col-sm">
                    <img class="float-right" src="{% static 'pantone.PNG' %}" style="width: 300px;">
                </div>
                <div class="col-sm">
                    <h2 id="tulisannama">Azzahra Abraara</h2>
                    <div class="row">
                        <div class="col-sm"><div id="circle1"></div></div>
                        <div class="col-sm"><div id="circle2"></div></div>
                        <div class="col-sm"><div id="circle3"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container ml-1 mt-5">
            <h2 id="shadow">about me</h2>
            <h2 id="aboutsaya" name="aboutsaya">about me</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="{% static 'muke.png' %}" style="width: 300px;">
                </div>
                <div class="col-sm-8">
                    <h2>
                        <p class="paragrafnya">hello! i’m Azzahra Abraara. You can call me zahra. I was born on February 6th, 2001. 
                            Currently i’m studying Computer Science at University of Indonesia as a second year student. 
                            I like to watch series and movies especially mystery genre. 
                            Beside that, i am interested in stuffs like UI/UX design and i really love to sleep. That’s all i can say!</p>
                     </h2>
                </div>
            </div>
            
        </div>

        <div class="container mt-5">
            <h1 id="skill">skill</h1>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <i class="fa fa-html5" style="font-size:128px;color:#5C2828;"></i>
                </div>
                <div class="col-sm text-center">
                    <img src = "{% static 'premier.png' %}" style="width:100px;">
                </div>
                <div class="col-sm text-center">
                    <img src = "{% static 'illustrator.png' %}" style="width:100px;">
                </div>
                <div class="col-sm text-center">
                    <img src = "{% static 'photoshop.png' %}" style="width:100px;">
                </div>

            </div>
        </div>

        <div class="container mt-5">
            <h1 id="education">education</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <img src = "{% static 'school.png' %}" style="width:125px;"> <br><br>
                      <img src = "{% static 'university.png' %}" style="width:125px;">
                </div>
                
                <div class="col-sm" style= "color: #5C2828;font-size: 20px">
                        <p>
                            <br>
                            Jakarta Islamic school<br>
                            2007 - 2018
                            <br><br><br>
                            Universitas Indonesia<br>
                            Faculty of Computer Science<br>
                            2018 - present
                        </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h1 id="experience">
                experience
            </h1>
        </div>
        
        <div class="container">
            <center><img src="{% static 'experience.JPG' %}" id="experiencenya"></center>
        </div>

        <div class="container">
            <br>
        </div>  

                            <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            CILUUKKKK??????????????
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">you are wasting your time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                BAAAAAA!!!!!!!!!!!!!
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}